.form {
  max-width: 560px;
}

.form__text {
  font-family: 'HelveticaNeue', 'Helvetica', sans-serif;
  margin: 15px 0 0;
}

.form__input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 15px 0 0;
  row-gap: 15px;
}

.form__input {
  font-family: 'HelveticaNeue', 'Helvetica', sans-serif;
  padding: 15px;
  color: #737373;
  border: solid 2px #8a8888;
}

.form__input_type_small {
  max-width: 320px;
}

.form__input_type_big {
  min-height: 100px;
}

.form__button {
  font-family: 'Novecento DemiBold', 'Helvetica', sans-serif;
  font-weight: 600;
  align-self: flex-start;
  padding: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2ecc71;
}

@media screen and (min-width: 960px) {
  .form__input-wrapper {
    margin: 19px 0 0;
  }

  .form__input {
    padding: 13px;
  }

  .form__input_type_big {
    min-height: 190px;
  }
}
