.projects__title {
  font-size: 24px;
  margin: 20px 10px 0;
  text-transform: uppercase;
}

.projects__caption {
  margin: 20px 10px 0;
}

.projects__slider {
  margin: 20px 10px 0;
}

.slider__text-wrapper {
  width: 80%;
  max-width: 478px;
  margin: 0 auto;
}

.slider__image-link {
  position: relative;
}

.slider__image-link:hover::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 97px;
  height: 97px;
  content: '';
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #2ecc71;
  background-image: url('../../assets/icons/icon-link.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 33px 42px;
}

.slider__image {
  margin: 0 auto;
}

.slider__title {
  font-size: 18px;
  line-height: 1.22;
  margin: 20px 0 0;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.slider__description {
  margin: 20px auto 0;
  text-align: center;
}


.slider__next-arrow:before {
  position: absolute;
  top: 0;
  left: 45%;
  width: 21px;
  height: 31px;
  content: '' !important;
  background-image: url('../../assets/icons/icon-next-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.slider__prev-arrow:before {
  position: absolute;
  top: 0;
  left: -45%;
  width: 21px;
  height: 31px;
  content: '' !important;
  background-image: url('../../assets/icons/icon-prev-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 550px) {
  .projects__title {
    margin: 30px 20px 0;
  }

  .projects__caption {
    margin: 30px 20px 0;
  }

  .projects__slider {
    margin: 30px 10px 0;
  }

  .slider__image-wrapper {

  }
}

@media screen and (min-width: 900px) {
  .projects__title {
    margin: 38px 0 0;
    text-align: center;
    letter-spacing: 2.8px;
  }

  .projects__caption {
    max-width: 680px;
    margin: 15px auto 0;
    text-align: center;
  }

  .projects__slider {
    margin: 44px 10px 0;
  }

  .slider__text-wrapper {
    margin: 40px auto 0;
  }

  .slider__title {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }

  .slider__description {
    margin: 15px 0 0;
  }

  .slider__next-arrow:before {
    top: -5px;
    left: 250%;
  }

  .slider__prev-arrow:before {
    top: -10px;
    left: -250%;
  }
}
