.form {
  max-width: 560px;
}

.form__text {
  font-family: 'HelveticaNeue', 'Helvetica', sans-serif;
  margin: 15px 0 0;
}

.form__input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 15px 0 0;
  row-gap: 15px;
}

.form__button {
  font-family: 'Novecento DemiBold', 'Helvetica', sans-serif;
  font-weight: 600;
  align-self: flex-start;
  padding: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2ecc71;
}

.form__button[disabled] {
  cursor: default;
  pointer-events: none;
  opacity: .5;
}

@media screen and (min-width: 960px) {
  .form__input-wrapper {
    margin: 19px 0 0;
  }
}
