.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 940px;
  min-height: 112px;
  margin: 20px auto 0;
  padding: 0 10px;
}

.filters__categories-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 8px;
  row-gap: 10px;
}

.filters__categories-button {
  font-family: 'Novecento DemiBold', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  position: relative;
  text-transform: uppercase;
  color: #8a8888;
}

.filters__categories-button_active {
  color: #2ecc71;
}

.filters__categories-divider {
  font-family: 'Novecento DemiBold', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
}

.filters__view-list {
  display: flex;
  width: 100%;
  column-gap: 10px;
}

.filters__view-button {
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
}

.filters__view-button_active {
  filter: brightness(0) saturate(100%) invert(61%) sepia(65%) saturate(491%) hue-rotate(93deg) brightness(95%) contrast(88%)
}

.filters__view-button_type_grid {
  background-image: url('../../../assets/icons/icon-grid-view.svg');
}

.filters__view-button_type_list {
  background-image: url('../../../assets/icons/icon-list-view.svg');
}


@media screen and (min-width: 960px) {
  .filters {
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
  }

  .filters__categories-list {
    width: auto;
    max-width: calc(100% - 40px);
  }

  .filters__view-list {
    width: auto;
  }
}
